.footer {
    height:  150px;
    padding: 30px 0 21px 0;
    &_wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        :last-child {
            margin-right: 0;
        }
    }
    &_logo {
        width: 35px;
        height: 35px;
        color: black
    }
    &_text {
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: #fff;
        margin-right: 40px;
        cursor: pointer;
        text-decoration: none;
        color: black;
    }
    &_image{
        display: block;
        margin: 30px auto 0 auto;
    }
}